.article_list table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: black;
}
  
.article_list td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}
  
.article_list tr:nth-child(even) {
    background-color: #dddddd;
}